---
const sentence = [
  ["the"],
  ["deliberate", "intentional", "purposeful"],
  [
    "arrangement",
    "choreography",
    "combination",
    "creation",
    "juxtaposition",
    "ordering",
    "selection",
  ],
  ["of"],
  [
    "actions",
    "colors",
    "feelings",
    "light",
    "love",
    "meaning",
    "movement",
    "objects",
    "shapes",
    "smells",
    "sounds",
    "space",
    "systems",
    "tastes",
    "thoughts",
    "time",
    "words",
  ],
  ["for"],
  [
    "animals",
    "friends",
    "god",
    "its own sake",
    "lovers",
    "oneself",
    "others",
    "plants",
    "remembering",
    "the universe",
    "this moment only",
  ],
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <link rel="canonical" href="https://design.eva.town" />
    <meta name="theme-color" content="#bbb" />
    <title>Design Is</title>
    <meta name="description" content="For you to define." />
    <meta property="og:image" content={`${Astro.url.origin}/og.png`} />
    <meta property="og:title" content="Design Is" />
    <meta
      property="og:image:alt"
      content={"Design is the deliberate creation of light for others."}
    />
  </head>
  <body>
    <div class="definition">
      <header>
        <h1><span class="design">Design</span> <span class="is">is</span></h1>
      </header>
      <div class="sentence">
        {
          sentence.map((fragment, i) => (
            <fieldset>
              {fragment.sort().map((word) => (
                <div>
                  <input
                    type="radio"
                    id={word}
                    name={i.toString()}
                    value={word}
                  />
                  <label for={word}>
                    {word.split("").map((char, i) =>
                      // prettier-ignore
                      <span class="char" style={{ transitionDelay: `${i * 0.2}s` }}>{char}</span>
                    )}
                  </label>
                </div>
              ))}
            </fieldset>
          ))
        }
      </div>
      <a
        class="about"
        href="https://github.com/evadecker/design-is"
        aria-label="What's this?"
        target="_blank"
        rel="noreferrer">?</a
      >
      <a class="refresh" href="/" aria-label="refresh">⇄</a>
    </div>
  </body>
</html>

<script>
  function setPageTitle() {
    const words = Array.from(
      document.querySelectorAll<HTMLInputElement>("input:checked")
    ).map((input) => input.value);
    const title = `Design is ${words.join(" ")}`;
    document.title = title;
  }

  function selectRandomWords(stagger = false) {
    const sentence = document.querySelector(".sentence");
    const fieldsets = sentence?.querySelectorAll("fieldset");

    const changeSelection = (fieldset: HTMLFieldSetElement) => {
      const inputs = fieldset.querySelectorAll("input");

      const randomIndex = Math.floor(Math.random() * inputs.length);

      if (inputs[randomIndex].checked) {
        changeSelection(fieldset);
        return;
      } else {
        inputs[randomIndex].checked = true;
      }

      setPageTitle();
    };

    fieldsets?.forEach((fieldset, i) => {
      if (stagger) {
        setTimeout(() => changeSelection(fieldset), (i + 1) * 600);
      } else {
        changeSelection(fieldset);
      }
    });
  }

  selectRandomWords(true);

  document.body.addEventListener("change", setPageTitle);

  const refresh = document.querySelector(".refresh");

  refresh?.addEventListener("click", (event) => {
    event.preventDefault();
    selectRandomWords(true);
  });
</script>

<style lang="scss">
  :root {
    --body-size: clamp(1.375rem, 1.2399rem + 0.6757vi, 2rem);
    --heading-size: clamp(1.7402rem, 1.4938rem + 1.2322vi, 2.88rem);
  }

  // Reset
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    background: #bbb;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  // Styles
  .definition {
    font-size: var(--body-size);
    padding: var(--body-size);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100svh;
    width: 100vw;
  }

  .sentence {
    line-height: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    flex: 1;

    fieldset {
      all: unset;
      display: flex;
      flex-direction: column;
      gap: 0.15em;
    }

    @media (width < 960px) {
      flex-direction: column;
      gap: 1em;

      fieldset {
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        column-gap: 0;
        max-width: 35ch;

        input[type="radio"] + label {
          padding-inline: 0.25em;
        }
      }
    }
  }

  h1 {
    font-weight: normal;
    font-size: var(--heading-size);
    text-transform: uppercase;
    position: relative;
    line-height: 1;

    .design {
      position: fixed;
      top: var(--body-size);
      left: var(--body-size);
    }

    .is {
      position: fixed;
      top: var(--body-size);
      right: var(--body-size);
    }
  }

  .about,
  .refresh {
    line-height: 1;
    font-size: var(--heading-size);
    opacity: 0.6;
    position: fixed;
    bottom: var(--body-size);

    &:hover {
      opacity: 1;
    }
  }

  .about {
    left: var(--body-size);
  }

  .refresh {
    right: var(--body-size);
  }

  input[type="radio"] {
    display: none;

    + label {
      cursor: pointer;
      transition: opacity 1.8s ease-out;

      .char {
        transition: filter 1.8s ease-out;
      }
    }

    &:not(:checked) + label {
      opacity: 0.2;
      transition-timing-function: ease-in;

      @media (hover: hover) {
        &:hover {
          transition-duration: 0.2s;
          opacity: 0.7;
        }
      }

      .char {
        filter: blur(0.1em);
        transition-timing-function: ease-in;
      }
    }
  }

  .refresh {
    font-size: var(--heading-size);
    opacity: 0.6;
    text-decoration: none;
    color: inherit;

    &:hover {
      opacity: 1;
    }

    &:active {
    }
  }
</style>
